(
    charge_control_end_threshold: 60,
    base_charge_control_end_threshold: 60,
    disable_nvidia_powerd_on_battery: true,
    ac_command: "/usr/local/bin/myasus-hook ac",
    bat_command: "/usr/local/bin/myasus-hook battery",
    platform_profile_linked_epp: true,
    platform_profile_on_battery: Quiet,
    change_platform_profile_on_battery: true,
    platform_profile_on_ac: Balanced,
    change_platform_profile_on_ac: true,
    profile_quiet_epp: Power,
    profile_balanced_epp: BalancePower,
    profile_custom_epp: Performance,
    profile_performance_epp: Performance,
    ac_profile_tunings: {
        LowPower: (
            enabled: false,
            group: {},
        ),
        Performance: (
            enabled: false,
            group: {},
        ),
        Balanced: (
            enabled: false,
            group: {},
        ),
        Quiet: (
            enabled: false,
            group: {},
        ),
    },
    dc_profile_tunings: {
        Performance: (
            enabled: false,
            group: {},
        ),
        Balanced: (
            enabled: false,
            group: {},
        ),
        Quiet: (
            enabled: false,
            group: {},
        ),
        LowPower: (
            enabled: false,
            group: {},
        ),
    },
    armoury_settings: {},
)
