(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (0, 0, 26, 64, 102, 153, 204, 255),
                temp: (30, 50, 55, 60, 65, 70, 75, 80),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (0, 0, 38, 77, 128, 179, 217, 255),
                temp: (30, 50, 55, 60, 65, 70, 75, 80),
                enabled: true,
            ),
            (
                fan: MID,
                pwm: (0, 0, 51, 89, 140, 191, 230, 255),
                temp: (30, 50, 55, 60, 65, 70, 75, 80),
                enabled: true,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (43, 48, 58, 94, 114, 130, 150, 186),
                temp: (20, 64, 66, 68, 70, 72, 74, 76),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (53, 66, 76, 107, 135, 150, 170, 209),
                temp: (20, 57, 60, 63, 66, 69, 72, 75),
                enabled: false,
            ),
            (
                fan: MID,
                pwm: (51, 58, 58, 130, 188, 198, 237, 237),
                temp: (20, 64, 66, 68, 70, 72, 74, 76),
                enabled: false,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (0, 0, 38, 77, 128, 179, 217, 255),
                temp: (30, 55, 60, 65, 70, 74, 78, 82),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (0, 0, 51, 89, 140, 191, 230, 255),
                temp: (30, 55, 60, 65, 70, 74, 78, 82),
                enabled: true,
            ),
            (
                fan: MID,
                pwm: (0, 0, 64, 102, 153, 204, 242, 255),
                temp: (30, 55, 60, 65, 70, 74, 78, 82),
                enabled: true,
            ),
        ],
        custom: [],
    ),
)
